* {
    box-sizing: border-box;
}
body {

    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: var(--color-primary);
    background: url(../images/saladbowl.jpg);
    background-size: cover;

}
.options {
    text-align: center;
    width: 350px;
    max-width: auto;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    background: #ffffff;
    border-radius: 8%;
}
.calories-options {
    word-spacing: 30px;
    text-align: center;
    margin-bottom: 1rem;
}
.options-title {
    margin-bottom: 1rem;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px
}
.vegeterian-options-title {
    margin-bottom: 1rem;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 35px
}
.vegeterian {
    word-spacing: 40px;
    text-align: center;
    margin-bottom: 1rem;
}
#low-recipe-list-container{
    display: none;
    width: 400px; 
     max-width: auto; 
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    background: #ffffff;
    border-radius: 8%;
}  
.low-recipe-list-title {
    margin-bottom: 1rem;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 35px
}
#average-recipe-list-container{
    display: none;
    width: 400px; 
    max-width: auto;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    background: #ffffff;
    border-radius: 8%;
}  
.average-recipe-list-title {
    margin-bottom: 1rem;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px
}
#high-recipe-list-container{
    display: none;
    width: 400px;
    max-width: auto;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    background: #ffffff;
    border-radius: 8%;
}  
.high-recipe-list-title {
    margin-bottom: 1rem;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 35px
}
#show-recipe-container{
    /* display: block; */
    /* width:350px; */
    /* display: left; */
    max-width: 100%;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    background: #ffffff;
    border-radius: 8%;
}

.text {
    font-family: "Times New Roman", Times, serif;
    font-size:30px;
}

.cook-text{
    font-family: "Times New Roman", Times, serif;
    font-size:40px;
}
